.map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-size: 100% 100%;
}

.map-interactive {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.mapContent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.mapBackground {
    height: 100%;
    width: 100%;
    position: relative;
}

#map01 {
    top: 100%;
    left: 0%;
    background-image: url("../img/maps/01.png");
}

#map03 {
    top: 300%;
    left: 0%;
    background-image: url("../img/maps/03.png");
}

#map10 {
    top: 0%;
    left: 100%;
    background-image: url("../img/maps/10.png");
}

#map11 {
    top: 100%;
    left: 100%;
    background-image: url("../img/maps/11.png");
}

#map12 {
    top: 200%;
    left: 100%;
    background-image: url("../img/maps/12.png");
}

#map13 {
    top: 300%;
    left: 100%;
    background-image: url("../img/maps/13.png");
}

#map14 {
    top: 400%;
    left: 100%;
    background-image: url("../img/maps/14.png");
}

#map21 {
    top: 100%;
    left: 200%;
    background-image: url("../img/maps/21.png");
}

#map22 {
    top: 200%;
    left: 200%;
    background-image: url("../img/maps/22.png");
}

#map23 {
    top: 300%;
    left: 200%;
    background-image: url("../img/maps/23.png");
}

#map31 {
    top: 100%;
    left: 300%;
    background-image: url("../img/maps/31.png");
}

#map32 {
    top: 200%;
    left: 300%;
    background-image: url("../img/maps/32.png");
}

#map33 {
    top: 300%;
    left: 300%;
    background-image: url("../img/maps/33.png");
}

#map34 {
    top: 400%;
    left: 300%;
    background-image: url("../img/maps/34.png");
}

#map41 {
    top: 100%;
    left: 400%;
    background-image: url("../img/maps/41.png");
}

#map42 {
    top: 200%;
    left: 400%;
    background-image: url("../img/maps/42.png");
}

#map44 {
    top: 400%;
    left: 400%;
    background-image: url("../img/maps/44.png");
}

#map54 {
    top: 400%;
    left: 500%;
    background-image: url("../img/maps/54.png");
}
